footer {
  width: 100%;
  height: 100px;
  margin: 32px 0px;
  padding: 10px 50px;
  /* background-color: var(--grey-030); */
}

footer > div {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

footer div img {
  height: 100%;
  margin-right: 48px;
  opacity: 0.8;
}

footer .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

footer .footer-info .footer-info__company {
  display: flex;
  flex-direction: column;
  color: var(--grey-060);
}

footer .footer-info .footer-info__links {
}

footer .footer-info .footer-info__links > a {
  margin-right: 32px;
  color: var(--grey-050);
}

@media (max-width: 640px) {
  footer {
    width: 100%;
    padding: 0px;
  }

  footer > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  footer div img {
    height: 50%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  footer .footer-info {
    height: auto;
  }

  footer .footer-info .footer-info__links {
    margin-bottom: 15px;
  }

  footer .footer-info .footer-info__links > a {
    margin-right: 16px;
  }
}
