header {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--grey-005);
  box-shadow: 0 0 10px 0px rgba(51, 51, 51, 0.2);
}

header .header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 100vw;
  max-width: var(--main-max-width);
  padding: 10px 20px;
}

header img {
  height: 100%;
}

header .menu {
  width: 165px;
  display: flex;
  justify-content: space-between;
}

header .menu a {
  color: black;
}
