<footer>
  <img src="../img/logo/footer-logo.png" alt="" />
  <div class="footer-info">
    <div class="footer-info__company h-regular-16">
      <span>
        가보자 · 청년취업사관학교 강동캠퍼스 (서울특별시 고덕로 429 ,4층)
      </span>
      <span>대표전화 : 02-6249-1603</span>
      <span>© Copyright 2023.name.all rights reserved.</span>
    </div>
    <div class="footer-info__links h-regular-16">
      <a href="#">개인정보처리방침</a>
      <a href="#">이용약관</a>
      <a href="#">마케팅/제휴문의</a>
      <a href="#">Q&A</a>
    </div>
  </div>
</footer>
