/* div {
  box-sizing: border-box;
} */

#content {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 130px 20px 0px 20px;
  border: 1px solid black;
}

.bi {
  font-size: 20px;
  -webkit-text-stroke: 1px;
  margin-right: 20px;
}

.titleType1 {
  width: 100%;
  text-align: center;
  position: relative;
}

#topAddr {
  font-size: 16px;
  text-align: center;
  justify-content: center;
  margin-top: 16px;
}

.dbDetail {
  /* width: 100%; */
  text-align: center;
  margin-top: 24px;
}

#topCp {
  font-size: 28px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

.dbDetail.titBg h3 em {
  padding: 0 15px;
  box-shadow: inset 0 -12px 0 rgba(129, 171, 242, 1);
}

.button_area {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 2rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.detail_tab {
  z-index: 1;
  margin-bottom: 20px;
}

.detail_tab ul li {
  list-style: none;
  float: left;
  width: 33.3%;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.detail_tab ul li a {
  position: relative;
  display: block;
  line-height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: var(--grey-070);
}

.detail_tab ul li a span {
  display: inline-block;
  padding: 0 30px;
  position: relative;
}

.detail_tab ul li a:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #ccc;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -8px;
}

#galleryGO .photo_gallery {
  width: 100%;
  text-align: center;
}

#galleryGO .photo_gallery_sub {
  border-radius: 3px solid yellow;
  width: 100%;
  background-color: aqua;
}

#galleryGO .photo_gallery_sub li {
  float: left;
  width: 33%;
  height: 200px;
  list-style: none;
}

#galleryGO .photo_gallery_sub li a {
  flex-direction: row;
  position: relative;
  justify-content: center;
  display: block;
  box-sizing: border-box;
  margin-left: 16px;
}

#galleryGO .photo_gallery_sub li a img {
  width: 100%;
  margin-left: -32px;
}

.wrap_contView {
  width: 100%;
  margin-top: 24px;
}

.wrap_contView h3 {
  width: 100%;
  padding: 31px 0 16px;
  margin-top: 48px;
  font-size: 28px;
  border-bottom: 2px solid #333;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1px;
  color: #333;
}
