<<<<<<< HEAD
=======
body {
  overflow-x: hidden;
}
main {
  margin-top: 160px;
  width: 100vw;
}
>>>>>>> 9737b9e69a5e20786487e8f8924bd8e0b56151b6
main .main-slogan {
  display: flex;
  align-items: end;
  height: 220px;
  margin-bottom: 48px;
  /* margin: 0 calc((100% - var(--main-max-width)) / 2); */
}

main .main-slogan .main-slogan__text {
  width: 100vw;
  max-width: var(--main-max-width);
  /* position: absolute; */
}

main .main-slogan .main-slogan__text-highlight {
  color: var(--blue-070);
}

main .main-img-banner-list {
  height: 450px;
  display: flex;
  overflow-x: hidden;
  width: 100vw;
  overflow-y: hidden;
}

main .main-img-banner-list .main-img-banner-list__item {
  height: 100%;
  width: 100%;
}

main .main-img-banner-list .main-img-banner-list__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .main-travel-info {
  max-width: var(--main-max-width);
  margin: 0 auto;
  margin-top: 48px;
}

main .main-travel-info .main-travel-info__hotplace > * {
  margin-bottom: 32px;
}

main .main-travel-info .main-travel-info__hotplace-main-title {
}

main .main-travel-info .main-travel-info__hotplace-sub-title {
  display: flex;
  justify-content: space-between;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list {
  display: flex;
  overflow-x: scroll;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item {
  min-width: 364px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  > * {
  margin-bottom: 14px;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-img
  img {
  width: 100%;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-descript {
  /* height: 65px; */
  flex-grow: 1;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-descript
  > p {
  max-width: calc(100% - 38px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-icon {
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-icon
  button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 25px;
  padding: 0;
  margin-right: 20px;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-icon
  button
  i {
  font-size: 25px;
}

main
  .main-travel-info
  .main-travel-info__hotplace
  .main-travel-info__hotplace-list
  .main-travel-info__hotplace-list__item
  .main-travel-info__hotplace-list__item-icon
  button
  .bi-heart-fill {
  color: var(--coral-080);
}

main .main-travel-info .main-travel-info__gaboza-pick {
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item {
  display: flex;
  margin-bottom: 32px;
  height: 200px;
  width: 100%;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item:hover
  > .main-travel-info__gaboza-pick-item-img {
  width: 100%;
  transition: all 0.2s linear;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item:hover
  > .main-travel-info__gaboza-pick-item-img
  .main-travel-info__gaboza-pick-item-img-text {
  opacity: 1;
  transition: all 0.2s linear;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item:hover
  > .main-travel-info__gaboza-pick-item-title {
  display: none;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item
  .main-travel-info__gaboza-pick-item-img {
  height: 100%;
  /* flex-grow: 1; */
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item
  .main-travel-info__gaboza-pick-item-img
  > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item
  .main-travel-info__gaboza-pick-item-img
  .main-travel-info__gaboza-pick-item-img-text {
  position: absolute;
  opacity: 0;
  color: var(--blue-010);
  text-shadow: 1px 1px 1px #000;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item.right {
  justify-content: flex-end;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item
  .main-travel-info__gaboza-pick-item-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item.left
  .main-travel-info__gaboza-pick-item-title {
  margin-left: 32px;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item.right
  .main-travel-info__gaboza-pick-item-title {
  align-items: flex-end;
  margin-right: 32px;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item
  .main-travel-info__gaboza-pick-item-title
  > * {
  margin-top: 16px;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-list
  .main-travel-info__gaboza-pick-item
  .main-travel-info__gaboza-pick-item-title
  > span:nth-child(1) {
  color: var(--grey-050);
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-button {
  margin: 0 auto;
  width: fit-content;
}

main
  .main-travel-info
  .main-travel-info__gaboza-pick
  .main-travel-info__gaboza-pick-button
  > button {
  display: flex;
  align-items: center;
  line-height: 1;
  color: var(--grey-060);
  background-color: var(--grey-005);
  border: 2px solid var(--grey-080);
  border-radius: 30px;
  padding: 6px 12px;
  margin-bottom: 32px;
}

main .main-ad-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 190px;
}

main .main-ad-list .main-ad-item {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
}

main .main-ad-list .main-ad-item.left {
  background-color: var(--blue-040);
}

main .main-ad-list .main-ad-item.right {
  background-color: var(--blue-030);
}

main .main-ad-list .main-ad-item .main-ad-item__title {
  display: flex;
  flex-direction: column;
}

main .main-ad-list .main-ad-item.left .main-ad-item__title > span:nth-child(1) {
  color: var(--blue-010);
  margin-bottom: 16px;
}

main
  .main-ad-list
  .main-ad-item.right
  .main-ad-item__title
  > span:nth-child(1) {
  color: var(--blue-010);
  margin-bottom: 16px;
}

main .main-ad-list .main-ad-item > img {
  width: 200px;
  /* height: 290px; */
}
