/* @import url("./style.css"); */

header{
  z-index: 1;
}

main{
  margin-top: 100px;
}

/*배너 시작*/
.banner-slide {
  background-color: var(--blue-020);
  height: 58vh;
  width: 100vw;
  display: flex;
  position: relative;
  margin-bottom: 10.6rem;
}

.banner-slide .theme-title {
  width: 100%;
  padding: 0 16.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-slide .theme-title .theme-detail{
  width: 4.75rem;
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
}

.banner-slide .theme-title .theme-detail::after{
  content: '';
  width: inherit;
  border-top: 1px solid var(--grey-080);
  position: absolute;
  bottom: -2px;
  left: 0px;
}

.banner-slide .theme-title .flex-r{
  display: flex;
}

.banner-slide .theme-title .flex-r .ft-bold-700{
  font-weight: 700;
}

.banner-slide .theme-title .br-15-30{
  height: 1.76rem;
  border-radius: 15px 30px 30px 0;
  background-color: var(--grey-080);
  color: var(--grey-005);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2.73rem;
}

.banner-slide .theme-title .flex-r .theme-title-icon{
  font-size: 30px;
}

.banner-slide .swiper1 {
  margin-top: 5.7rem;
  width: 70vw;
  position: absolute;
  left: 29vw;
  top: 0px;
  z-index: 0;
}
/*배너 끝남 */

.banner-nav {
  margin: 18rem auto 2.8rem auto;
  width: 100%;
  height: 3.5rem;
}

.banner-nav nav ul {
  display: flex;
  padding: 0;
}

.banner-nav nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.banner-nav nav ul li:first-child {
  margin-left: 0;
}

.banner-nav nav ul li button {
  border-radius: 15px 30px 30px 0px;
  border: none;
  height: 3.5rem;
  width: 14.5rem;
  background: #e9ebee;
  letter-spacing: -3%;
}

.banner-nav nav ul li button:hover{
  background-color: var(--blue-060);
  color: var(--grey-005);
}

.banner-nav nav ul li:first-child button {
  width: 17rem;
}

.banner-nav nav ul li:nth-child(4) button {
  width: 10.8rem;
}

.banner-nav nav ul li .active {
  background-color: var(--blue-060);
  color: var(--grey-005);
}
/*  */
.theme-content {
  margin: 0 auto 2rem auto;
}

.theme-content .theme-con-title {
  margin-bottom: 2rem;
}

.theme-content .theme-con-title .line-2p {
  margin-top: 10px;
  border: 2px solid var(--grey-080);
}

/* 헤더 메뉴에 밑줄이 생김 */
a {
  text-decoration: none;
}

/*  */

.theme-content .theme-con-img .theme-img-nav {
  margin: 2rem 0;
}

.theme-content .theme-con-img .theme-img-nav .list {
  display: flex;
  padding: 0;
}

.theme-content .theme-con-img .theme-img-nav .list li a {
  display: block;
  width: 100%;
  height: 25.4vh;
  position: relative;
}

.theme-content .theme-con-img .theme-img-nav .list li {
  flex-grow: 1;
  margin-left: 30px;
}

.theme-content .theme-con-img .theme-img-nav .list li:first-child{
  margin-left: 0;
}

.theme-content .theme-con-img .theme-img-nav .list li.active {
  flex-grow: 2;
}

.theme-content .theme-con-img .theme-img-nav .list li.active a {
  height: 100%;
}

.theme-content .theme-con-img .theme-img-nav .list li img {
  width: inherit;
  height: 100%;
  position: absolute;
}

.theme-content .theme-con-img .theme-img-nav .list li a .tag {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-content .theme-con-img .theme-img-nav .list li a .tag p {
  color: var(--grey-005);
  margin-bottom: 0;
}

.theme-content .theme-img-area {
  height: 47.7vh;
}

.theme-content .theme-img-area .flex-r {
  display: flex;
  height: 40vh;
  padding: 0;
}

.h-bold-32 {
  font-size: 32px;
  font-weight: 700;
}

.theme-img-area ul li {
  width: 100%;
  margin-left: 30px;
}

.theme-img-area ul li:first-child{
  margin-left: 0;
}

.theme-img-area ul li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.theme-img-area ul li a img {
  position: absolute;
  width: inherit;
  height: 47.7vh;
}

.theme-img-area ul li a .tag {
  background: linear-gradient(transparent, #282828);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 47.7vh;
}

.theme-img-area ul li a .tag p {
  color: var(--grey-005);
  bottom: 30px;
  position: absolute;
  left: 30px;
  z-index: 2;
  margin-bottom: 0;
}

main .detail-banner {
  background-color: var(--blue-020);
  margin-bottom: 180px;
  display: flex;
  padding: 0 33px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 180px auto;
  height: 8.1rem;
  overflow: hidden;
}

main .detail-banner p {
  color: var(--grey-080);
  margin-bottom: 0;
}

main .detail-banner img {
  height: 16.7rem;
  margin-bottom: 1rem;
}
